<ng-container *ngIf="recipe">

  <ion-content fullscreen="true">

    <div class="flex basis-full">
      <div class="flex basis-6/12 md:basis-4/12 h-[25vh] items-stretch" size="3">
        <ion-card class="w-full h-full bg-no-repeat bg-cover bg-center bg-fixed relative">
          <img [src]="recipe.$thumbnail?.data?.url"
            class="absolute top-0 right-0 bottom-0 left-0 object-fill w-full h-full" />
          <ion-card-header class="p-0 bg-white/80">
            <ion-card-title class="text-xs text-center drop-shadow-2xl">{{recipe.name}}</ion-card-title>
            <ion-card-subtitle class="text-xs text-center">{{recipe.name}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
    </div>


  </ion-content>


  <ion-footer>
    <ion-toolbar>
      <ion-nav-link>
        <ion-button>Back</ion-button>
      </ion-nav-link>
    </ion-toolbar>
  </ion-footer>

</ng-container>
<!-- <ion-nav #nav></ion-nav> -->
